/*=========    Desktop First    =========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	/* */
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	/* */
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {


	.burger {
		display: block;

	}

	.nav-list {
		position: absolute;
		top:8vh;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: #fff;
		height: 92vh;
		width: 50%;
		transform: translateX(100%);
	}

	.contacts-list {
		width: 80%;
	}

	.write-me-form {
		width: 80%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

	.section-heading {
		margin-bottom: 1em;
	}

	.promo {
		flex-direction: column;
		align-items: center;

	}

	.promo img {
		width: 100%;

	}

	.promo p {
		width: 100%;
	}
	.services-list {
		flex-direction: column;
		align-items: center;
	}

	.services-item {
		width: 100%;
		margin-bottom: 1em;
	}

	.write-me-form {
		width: 100%;
		padding: 1em 1em;
	}

	.contacts-list {
		width: 90%;
	}

	.page-footer .content-wrapper {
		width: 100%;
		padding: 0em 0.5em;

	}

	.copyright {
		text-align: center;
	}

	.footer-list {
		flex-direction: column;
		width: 60%;
		text-align: center;
	}
}

/*======   Mobile First   ======*/

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	/* */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	/* */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	/* */
}
