/*=========    Desktop First    =========*/
/* Large Devices, Wide Screens */
@media screen and (max-width: 1200px) {
	/**/
}

/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
	/* */
}

/* Small Devices, Tablets */
@media screen and (max-width: 768px) {
	/* */
}

@media screen and (max-width: 768px) and (orientation: landscape) {
	/* */
}

/* Extra Small Devices, Phones */
@media screen and (max-width: 480px) {

}


/*======   Mobile First   ======*/

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
	html {
      font-size: 75%;
   }
}

@media screen and (min-width: 480px) and (orientation: landscape) {
   .page-header .content-wrapper {
   height: 8rem;
   }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
 
   /* Глобальные */

   html {
      font-size: 80%;
   }

   section {
      padding-top: 6em;
   }

   /* Шапка */

   .page-header .content-wrapper {
      height: 8rem;
   }

	.burger {
      display: none;
   }

   .nav-list {
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      transform: none;
      position: inherit;
      background-color: #737373;
   }

   .nav-link {
      font-size: 1.5rem;
      color: #f4f4f4;
   }

   .nav-link:hover,
   .nav-link:active,
   .nav-link:focus {
      text-decoration: underline;
      color: #f6f6f6;
      transition: all 0.3s ease;
   }

   /* Услуги */

   .services-list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
   }

   .services-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
   }

   /* Напишите мне */

   .write-me-form {
      width: 90%;
      padding: 1em 2em;
   }

   .input-wrapper {
      width: 65%;
   }

   .section-button {
      width: 65%;
      align-self: center;
   }

   /* Подвал */

   .page-footer .content-wrapper {
      padding: 1em;
   }

   .copyright {
      font-size: 1.2rem;
   }

   .footer-list {
      width: 70%;
   }

   .footer-link {
      font-size: 1.2rem;
   }

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	html {
      font-size: 90%;
   }

   section {
      padding-top: 7em;
   }

   .content-wrapper {
      width: 90%;
   }

   /* Шапка */

   .nav-list {
      width: 65%;
   }

   /* Промо */

   .promo {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

   .promo img {
      width: 50%;
   }

   .promo p {
      width: 40%;
   }

   .promo a {
     margin: auto;
     margin-top: 1em;
   }

   /* Контакты */

   .contacts {
      margin-top: 2em;
   }

}

@media only screen and (min-width: 1200px) {
   html {
      font-size: 100%;
   }

   section {
      padding-top: 5em;
   }

   .content-wrapper {
      width: 90%;
      max-width: 1440px;
   }

   .page-header .content-wrapper {
      height: 5rem;
   }

   .nav-list {
      width: 55%;
   }

   .services-item {
      width: 30%;
   }

   .write-me-form {
      width: 70%;
   }

   .contacts {
      margin: 0 auto;
      width: 70%;
      margin-bottom: 2em;
   }
}

