/* Общие стили */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 70%;
}

body {
	font-family: 'Raleway', serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5rem;
	color: #636363;
  min-width: 320px; 
  width: 100%;
	background: linear-gradient(
    to top right, 
    rgb(242, 242, 242),
    rgb(245, 245, 245));
}

a {
  text-decoration: none;
}

button {
  font-size: 1.1rem;
  font-weight: 500;
  display: inline-block;
  color: #444;
  border: 1px solid #737373;
  padding: 0.5rem 2rem;
}

button:hover,
button:active,
button:focus {
  outline: none;
}

img {
  	max-width: 100%;
    max-height: 100%;
  	height: auto;
}

h2,
h3 {
  font-family: 'Vollkorn SC', sans-serif;
  font-weight: bold;
  letter-spacing: -0.1em;
  word-spacing: 0.3em;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.75rem;
}

ul {
  list-style: none;
}

section {
  padding-top: 5em;
}

.content-wrapper {
	min-width: 320px;
	width: 100%;
  padding: 0 0.5em;
	margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section-heading {
  color: #262626;
  margin-bottom: 1em;
}

:focus {
  outline: none;
}

/* Шапка сайта */

.page-header {
  min-width: 320px;
  width: 100%;
	background-color: #737373;
}

.page-header .content-wrapper {
   height: 10vh;
}

.header-nav {
	display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 1;
}

.logo  {
  display: inline-block;
  height: 80%;
}

.logo:hover {
  filter: drop-shadow( 0 2px 5px rgba(255, 255, 255, 1));
}

.logo img {
  margin: auto 0;
}

.burger {
  width: 37px;
  padding: 0;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: transparent;
  display: block;
}

.burger:hover,
.burger:active,
.burger:focus {
  outline: none;
}

.burger div {
  margin: 5px 5px;
  width: 25px;
  height: 3px;
  background-color: #000;
  transition: all 0.3s ease;
}

.open .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .line-2{
  opacity: 0;
}

.open .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-list {
  display: none;
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 10vh;
  left: 0;
  background-color: #f4f4f4;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateY(-200%);
  transition: transform 0.3s ease-in;
}

.nav-active {
  display:  flex;
  transform: translateY(0%);
}

.nav-link {
	font-size: 2rem;
	font-weight: bold;
	color: #636363;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
	color: #bfbfbf;
  transition: all 0.3s ease;
}

/* Промо */

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.promo .section-heading {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 100%;
}

.promo p {
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.promo img {
  width: 70%;
	border-radius: 50%;
  margin-bottom: 1em;
}

.promo a {
	padding: 0.5rem 2rem;
	text-decoration: none;
	color: #444;
	vertical-align: center;
	border: 1px solid #737373;
	border-radius: 1em;
}

.promo a:hover,
.promo a:active,
.promo a:focus {
  color: #444;
  border-color: #444;
  transition: all 0.3s infinite;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

/* Наши услуги */

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.services-item:last-child {
  margin-bottom: 0;
}

.services-heading {
  margin-bottom: 1em;
  color: #444;
}

.services-item img {
  filter: grayscale(1);
  margin-bottom: 1em;
  border-radius: 3em;
}

.services-item p {
  font-size: 1.25rem;
  margin-bottom: 2em;
}

.services .show-more {
  width: 50%;
  padding: 0.5em 0;
	font-size: 1.5rem;
  border-radius: 2rem;
  vertical-align: center;
}

/* Напишите нам*/
.write-me {
	display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.write-me-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em 1em;
  border: 2px solid black;
  border-radius: 1em;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.input-wrapper-big {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-label {
	font-family:;
	font-size:;
	line-height:;
	font-weight:;
}

.text-input {
  width: 100%;
  font-size: 1.5rem;
  color: #202117B3;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 0.75em 1em;
  opacity: 0.7;
}

.text-input:hover,
.text-input:focus,
.text-field:hover,
.text-field:focus {
  background-color: white;
  border: 1px solid #000;
  color: black;
  outline: none;
  transition: all 0.3s ease;
}

.text-field {
  width: 100%;
  font-size: 1.5rem;
  color: #202117B3;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;
  box-sizing: border-box;
  border-radius: 1em;
  padding: 1em;
  resize: none;
}

.section-button {
  font-size: 1.5rem;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 1em;
  padding: 0.5em 1em;
}

.section-button:hover,
.section-button:active,
.section-button:focus {
  background-color: #fff;
  border: 1px solid black;
  transition: all 0.3s ease;
}

/* Контакты */

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  padding-top: 0;
}

.contacts-list {
	list-style: none;
  display: flex;
  justify-content: space-around;	
  align-items: center;
  width: 100%;
}

.contacts-link:hover,
.contacts-link:focus {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

/* Подвал */

.page-footer {
	background-color: #555;
}


.page-footer .content-wrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0.125em;
  padding-bottom: 0.5em;
}

.copyright {
	font-size: 1rem;
  line-height: 1;
	color: #fff;
	font-style: italic;
	opacity: 0.3;
}

.footer-list {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;  	
}

.footer-link {
  font-size: 1rem;
  line-height: 1px;
	color: #fff;
	opacity: 0.7;
}

.footer-link:hover,
.footer-link:active,
.footer-link:focus {
  text-decoration: underline;
  opacity: 1;
  transition: all 0.3s ease;
}

.warning,
.warning:focus {
  border-color: red;
  color: red;
  outline: none;
  transition: all 0.5s ease;
}

/*@keyframes navLinkFade {
  from {
    opacity: 0;
    transition: translateX(50px);
  }
  to {
    opacity: 1;
    transition: translateX(0px);
  }
} */
